.navbar {
  height: 5rem;
  width: 100%;
  display: flex;
  background-color: #121318;
  color: #ffeb46;
}

.tab {
  height: 100%;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  box-sizing: border-box;
  border-bottom: 0.3rem solid #121318;
}

.active {
  border-bottom: 0.3rem solid #ffeb46;
}
