.App {
  text-align: center;
}

.content {
  padding: 2rem;
}

@media screen and (min-width: 600px) {
  .content {
    padding: 5rem;
  }
}

@media screen and (min-width: 900px) {
  .content {
    padding: 10rem;
  }
}
